*{
    margin:0;
    padding:0;
}
body{
    background-image: url(../img/restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1{

}